#badge {
  background-color: #28a745;
  position: relative;
  top: -0.5rem;
  left: -2.875rem;
  padding: 0 0.3rem;
  border-radius: 30%;
  color: white !important;
  font-size: 0.8rem;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

.table-sm {
  width: 400px;
}
@media (max-width: 430px) {
  .table-sm {
    width: 75vw;
  }
}