#badge {
  background-color: #28a745;
  position: relative;
  top: -0.5rem;
  left: -2.875rem;
  padding: 0 0.3rem;
  border-radius: 30%;
  color: white !important;
  font-size: 0.8rem;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

.fullText {
  display: block;
  @media (max-width: 430px) {
    display: none;
  }
}
.shortText {
  display: none;
  @media (max-width: 430px) {
    display: block;
  }
}

.minWidth {
  min-width: 50vw;
}

.maxHeight {
  max-height: 50vh;
}

.voter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "voter question"
    "voter answer";
  grid-row-gap: 10px; 
  grid-column-gap: 20px;
  @media (max-width: 430px) {
    grid-column-gap: 10px;
  }
  margin-bottom: 20px;

  .voter {
    grid-area: voter;
  }

  .question {
    grid-area: question;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80px 1fr;
    @media (max-width: 430px) {
      grid-template-columns: 1.5rem 1fr;
    }
    grid-column-gap: 10px;
  }

  .answer {
    grid-area: answer;
    display: grid;
    grid-template-areas: "title column";
    grid-template-rows: auto;
    grid-template-columns: 80px 1fr;
    @media (max-width: 430px) {
      grid-template-columns: 1.5rem 1fr;
    }
    grid-column-gap: 10px;
    
    .title {
      grid-area: title;
    }

    .grid-column {
      grid-area: column;
      grid-template-rows: auto;
      grid-template-columns: auto;
    }
  }
}